.form {
  color: white;
  text-align: center;
  font-family: "Spartan", sans-serif;
  font-size: 0.5em;
}
.form-input {
  font-family: "Spartan", sans-serif;
  font-size: 0.5em;
}
#send {
  font-family: "Caveat Brush", cursive;
  background: rgb(247, 171, 31);
  color: white;
  font-size: 0.7em;

  display: inline-block;
}
#send:hover {
  font-size: 0.8em;
  background: rgb(252, 135, 1);
}
#sign-in {
  font-family: "Caveat Brush", cursive;
  background: rgb(247, 171, 31);
  color: black;
  font-size: 0.7em;
}
#sign-in:hover {
  font-size: 0.8em;
  background: rgb(252, 135, 1);
}
