body {
  background: #0c2724f3;
  background-size: cover;
  font-family: "Caveat Brush", cursive;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  max-width: 100%;
  max-height: 100%;
  font-size: 1.2em;
  margin: 0 auto;
  padding: 0 5vw;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-rows: 0.1fr 0.9fr 1fr 3fr 1fr;
  grid-template-columns: 2fr 1fr;
}

header {
  grid-area: header;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  font-size: 1.5em;
  margin: auto;
}
.main-nav {
  padding: 3vw;
}
#main-title {
  text-decoration: none;
  transition: all 800ms ease-out;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
}
#main-title:hover {
  font-size: 3em;
}
nav {
  /* border: 2px solid black; */
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main-nav:hover {
  color: #f0dd7481;
  width: 1.2 em;
  font-size: 1.5em;
  transition: all 800ms ease-out;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  -o-transition: all 800ms ease-out;
}
.button {
  border-radius: 8px;
  padding: 8px 18px;
  font-family: "Spartan", sans-serif;
  text-align: center;
  color: white;
  background-color: #0c2724f3;
  border: 1px solid white;
  text-decoration: none;
  font-size: 15px;
  transition: all 800ms ease-in-out;
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
}
#log-in:hover {
  font-size: 20px;
  color: rgb(176, 248, 108);
  border: 1px dotted rgb(176, 248, 108);
  background-size: cover;
  animation: background 900ms ease-in-out 0s forwards infinite alternate;
  -webkit-animation: background 900ms ease-in-out 0s forwards infinite alternate;
  -o-animation: background 900ms ease-in-out 0s forwards infinite alternate;
  -ms-animation: background 900ms ease-in-out 0s forwards infinite alternate;
  -moz-animation: background 900ms ease-in-out 0s forwards infinite alternate;
}
.cont-wrapper {
  /* border: 1px solid black; */
  max-width: 100vw;
  grid-column: 1 / 4;
  grid-row: 2 / 5;
  display: grid;
  column-gap: 20px;
  row-gap: 5px;
  grid-template-rows: 0.2fr 0.1fr 0.1fr 0.5fr 0.5fr 0.5fr 0.3fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-areas:
    "hero sidebar"
    " . main"
    "extra extra";
}
#image {
  width: 100%;
  height: auto;
  margin-top: 40px;
}
hero {
  grid-area: hero;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  margin: 10px;

  /* border: 1px solid black; */
  display: flex;
  align-self: flex-start;
  justify-self: center;
}
.sidebar {
  /* border: 1px solid black; */
  font-family: "Spartan", sans-serif;
  font-size: 0.6em;
  margin-left: 20px;
  grid-area: sidebar;
  grid-column: 3 / 7;
  grid-row: 1 / 2;
}
.sidebar:hover {
  font-size: 0.7em;
}
main {
  margin-left: 20px;
  grid-area: main;
  grid-column: 3 / 6;
  grid-row: 2 / 3;
}
.title {
  color: white;
  font-family: "Berkshire Swash", cursive;
  font-size: 2.75em;
}
.article-container {
  color: white;
  font-family: "Spartan", sans-serif;
  font-size: 2vw;
  max-width: 400px;
}
@keyframes background {
  0% {
    background: radial-gradient(
      circle,
      #8ba54225,
      #948b3b45,
      #8f8a7370,
      #948b3b45,
      #8ba54225
    );
  }
  25% {
    background: radial-gradient(
      circle,
      #8ba54220,
      #948b3b40,
      #8f8a7360,
      #948b3b40,
      #8ba54210
    );
  }
  50% {
    background: radial-gradient(
      circle,
      #8ba54215,
      #948b3b35,
      #8f8a7350,
      #948b3b35,
      #8ba54215
    );
  }
  75% {
    background: radial-gradient(
      circle,
      #8ba54210,
      #948b3b25,
      #8f8a7340,
      #948b3b25,
      #8ba54210
    );
  }
}
