body {
  background: #0c2724f3;
  background-size: cover;
  font-family: "Caveat Brush", cursive;
  font-size: 1.5em;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 60px;
  display: grid;
  grid-template-rows: 1fr 4fr auto 1fr;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "header header"
    "hero main"
    "sidebar extra"
    "footer footer";
}
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
img {
  max-width: 50vh;
}
a {
  text-decoration: none;
  color: white;
}

.maintitle {
  color: white;
  text-decoration: none;
  font-size: 4vw;
}
#main-title:hover {
  color: #f1d010d8;
  font-size: 3em;
}
.title {
  color: white;
  font-family: "Berkshire Swash", cursive;
  font-size: 2.75em;
}

.menu-item {
  margin: 2vw;
  font-size: 3.25vw;
}
.main-nav:hover {
  color: #f0dd74d8;
  font-size: 2em;
}
h4 {
  color: white;
}
.article-container {
  color: white;
  font-family: "Spartan", sans-serif;
  font-size: 2vw;
  max-width: 400px;
}
.article-item {
  border: 2px solid black;
}
/* #samplespc {
  height: 40vh;
  width: 100%;
  background: linear-gradient(190deg, #8f8a73bb, #948b3b96, #8aa54220);
} */
